---
layout: default
comments: true
---
<div class="tags-expo">
  <title>Categories</title>
  <div class="tags-expo-list">
    <h2>Categories</h2>
    {% for tag in site.categories %}
    <li><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>
    {% endfor %}
    <br>
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <table>

      {% for post in tag[1] %}
        {%- if  post.draft != true and  post.draft != 'hidden' -%}
              <tr><td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td><td width="100px" >{{ post.date | date_to_string }}</td></tr>
        {% endif %}
      {% endfor %}

</table>
    {% endfor %}
  </div>
</div>
