<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="propeller" content="555027683f715a9f55360def4da36806"/>
  {%- seo -%}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5762182881741486",
            enable_page_level_ads: true
       });
  </script> -->
  {%- include analytics.html -%}

</head>
<img width=100%  src="/images/title.png"/>
