
<p> This blog is my notebook. In here I will put quick minor things that I have found out how to do, longer articles on how to do more challenging things and other ramblings about tech usually in the API Space.</p>
<ui>
  <li>By day I am a WorldWide SWAT Cloud Integration Architect for IBM</li>
  <li>By evening I am father of two amazing girls and a keen board gamer</li>
  <li>By night I am a partial insomiac who likes to play with crazy tech ideas.</li>
  <li>"You are also an awesome brother to three awesome siblings (feel free to quote me in your bio!)" - Lucy Phillips</li>
</ui>

<p>Currently I am focusing on APIs and OpenShift kubernetes deployments. I have a number of assets that are released on my github account.</p>

<p><br><b>All opinions expressed here are my own, not those of IBM.</b></p>
