<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section">
        <img src="/images/me.jpg" />
      </div>
      <BR>
      <hr />
      <div class="trigger">
        <h3><a class="page-link" href="/">Home</a><br></h3>
        {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <h3><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br></h3>
        {%- endif -%}
        {%- endfor -%}
        <hr />
        <h3><a class="page-link" href="/categories.html">Categories</a></h3>
        {% for tag in site.categories %}
        <li><a href="/categories.html#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
