<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
{%- include adUp.html -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {%- include adDown.html -%}
        {%- include disqus_comments.html -%}

      </div>
    </main>

    {%- include footer.html -%}
    {% include analytics.html %}
{%- include adDown.html -%}
  </body>

</html>
