---
layout: default
comments: true
---
<div class="home">
  <!-- {%- if page.title -%} -->
    <h1 class="page-heading">{{ page.title }}</h1>
  <!-- {%- endif -%} -->

{%- include intro.html -%}

  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <!-- <ul class="post-list"> -->
    <table class="post-list">
      {% for post in paginator.posts %}
      {%- if  post.draft != true and  post.draft != 'hidden' -%}
      <!-- <li> -->
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <tr><td valign=top width=20%><span class="post-meta">{{ post.date | date: date_format }}</span></td><td>
        <!-- <h3> -->
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          </td></tr>
        <!-- </h3> -->
        {%- if post.image  -%}
        <tr class="post-img"><td align=center colspan = 2><a class="post-link" href="{{ post.url | relative_url }}"><img class="img-title" src={{ post.image }} alt="{{ post.title | escape }}"/></a></td></tr>
        {%- endif -%}
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        {%- endif -%}
      <!-- </li> -->
      {%- endfor -%}
    <!-- </ul> -->
    </table>

    {% if paginator.total_pages > 1 %}
    <div align=center class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
