---
layout: default
comments: true
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <title>{{ page.title | escape }}</title>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      • <span itemprop="category" itemscope itemtype="http://schema.org/Category"><span class="p-author h-card" itemprop="name"> Category <a href="/categories.html#{{ page.categories[0] | slugify }}"
            class="post-tag">{{ page.categories[0] | escape }}</a></span></span>
      {%- if page.author[0] -%}

      • by
      {%- for a in page.author -%}
      {% assign author = site.data.people[a] %}
      {%- if page.author[1] -%}
      <br />•
      {%- endif -%}
      <a href="/authors.html#{{ author.name | slugify }}" class="post-tag">
        {{ author.display_name }}</a> {%- include author-social.html -%}
      {%- endfor -%}
      {%- else -%}
      {% assign author = site.data.people['ChrisPhillips'] %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> by <a rel="author" href="" title="{{ author.display_name }}">
        {{ author.display_name }}</a> {%- include author-social.html -%} </span></span>
      {%- endif -%}
    </p>
  </header>
  {%- if page.draft -%}
  <div id="background">
    <p id="bg-text">Draft!!</p>
  </div>
  {%- endif -%}
  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.image -%}
      {{ page.excerpt }}
      <div class="post-header-image">
        <img src="{{ page.image }}" alt="{{ page.title | escape }}" />
      </div>
      {{ content | remove: page.excerpt }}
    {%- else -%}
      {{ content }}
    {%- endif -%}
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
